<a href="https://colab.research.google.com/github/parijit/colab_learnings/blob/main/_Useful_analytics_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
print('Arijit is analytical')

Arijit is analytical

In [3]:
print(2+2)

4

In [4]:
import numpy as np

In [5]:
np.version #to view the version u r using
np.random.rand?
 # gives the description of the code

An ordered List
1. One 
2. Two 
3. Three

Displaying a link
[Github](https://github.com/parijit/colab_learnings/blob/main/_Useful_analytics_exercises.ipynb)

Displaying an image
![Huskies](https://www.spirit-animals.com/wp-content/uploads/2013/10/Husky-1024x416.jpg.webp)

Mathematical Expressions
1. $y =x^2$
2. $\frac{1}{n}\sum_{i=1}^{n}x_i$

Matrix
1. $A = \begin{pmatrix}
a_{1,1} & a_{1,2}\\
a_{2,1} & a_{2,2}
\end{pmatrix}$

col1|col2|col3
---|---|---|
val1|val2|val3|
val3|val4|val5|

In [6]:
pd.__version__

'1.3.5'

create a Series object and print it to the console.

In [7]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

Convert quotations to the list and print it to the console.

In [8]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
quotations = quotations.to_list()
print(quotations)

[387.0, 339.5, 349.5, 391.0]

Convert the quotations to the DataFrame and set the column name to 'price'. In response, print this DataFrame to the console.

In [9]:
#...


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
quotations=pd.DataFrame(quotations, columns= ['Price'])
print(quotations)

     Price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

Using the numpy and pandas create the following Series:


col1|col2|
---|---|
101|10.0|
102|20.0|
103|30.0|
104|40.0|
105|50.0|
106|60.0|
107|70.0|
108|80.0|
109|90.0|

In [10]:
pd.Series(data=np.arange(10,100,10),index=np.arange(101,110))

101    10
102    20
103    30
104    40
105    50
106    60
107    70
108    80
109    90
dtype: int64

Convert its type to int and print this Series to the console.

In [12]:
series = pd.Series(['001', '002', '003', '004'], list('abcd'))

In [14]:
type(series)

pandas.core.series.Series

In [17]:
series= series.astype('int')
print(series)

a    1
b    2
c    3
d    4
dtype: int64

In [16]:
series

a    001
b    002
c    003
d    004
dtype: object

Add two elements to this Series:

key: 'BBT', value: 25.5

key: 'F51', value: 19.2

In response, print quotations Series to the console.

In [25]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

In [26]:
#quotations['BBT'] = 25.5
#quotations['F51'] = 19.2
#print(quotations)
#or
quotations = quotations.append(pd.Series({'BBT': 25.5, 'F51': 19.2}))
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

In [19]:
quotations

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
dtype: float64

Convert the following quotations Series:



stocks = {
  
    'PLW': 387.00, 
    'CDR': 339.5, 
    'TEN': 349.5, 
    '11B': 391.0, 
    'BBT': 25.5, 
    'F51': 19.2
}


quotations = pd.Series(data=stocks)


to DataFrame. Reset the index and name the columns 'ticker' and 'price' respectively.

In response, print this DataFrame to the console.

In [47]:
stocks = {
    'PLW': 387.00, 
    'CDR': 339.5, 
    'TEN': 349.5, 
    '11B': 391.0, 
    'BBT': 25.5, 
    'F51': 19.2
}
quotations = pd.Series(data=stocks)

In [49]:
quotations =quotations.reset_index()
quotations = pd.DataFrame(quotations)
quotations.columns=['ticker','price']
print(quotations)

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0
4    BBT   25.5
5    F51   19.2

In [50]:
type(quotations)

pandas.core.frame.DataFrame

Create the following DataFrame object and assign it to the companies variable:



index|company|price|ticker|
---|---|---|---|
0|Amazon|2375.0|AMZN.US|
1|Microsoft|   178.6|  MSFT.US|
2|   Facebook|   179.2|    FB.US|


In response, print companies DataFrame to the console.

In [54]:
companies ={'company' :['Amazon','Microsoft','Facebook'],
            'price'   :[2375.0,178.6,179.2],
            'ticker'  :['AMZN.US','MSFT.US','FB.US']
            }
companies=pd.DataFrame(companies)
print(companies)

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

Convert the first column of the companies DataFrame to index. In response, print companies DataFrame to the console.



Expected result:



company|          price|   ticker|
---|---|---|                   
Amazon|     2375.0|  AMZN.US|
Microsoft|   178.6 | MSFT.US|
Facebook |   179.2|    FB.US|

In [55]:
data_dict = {
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price': [2375.00, 178.6, 179.2],
    'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
}

companies = pd.DataFrame(data=data_dict)

In [57]:
companies.set_index('company',inplace=True)
print(companies)

            price   ticker
company
Amazon     2375.0  AMZN.US
Microsoft   178.6  MSFT.US
Facebook    179.2    FB.US

Create the DatetimeIndex object containing the yyyy-mm-dd format dates for all days from January 2020 and assign it to the date_range variable. In response, print this variable to the console.


[DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',

               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq='D')*

In [60]:
date_range=pd.date_range('1.1.2020',periods=31)
print(date_range)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq='D')